.card {
  display: flex;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 38px;
  position: fixed !important;
  margin: auto !important;
  width: 80% !important;
  left: 5%;
  right: 5%;
  z-index: 111 !important;
  bottom: 20px !important;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3),
    -5px -5px 15px rgba(255, 255, 255, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.4),
    -5px -5px 20px rgba(255, 255, 255, 0.6);
}

.cardcontent {
  width: 85%;
  padding: 20px;
  /* padding: 20px 20px 0px 20px; */
}

.cardpriceIcon {
  cursor: pointer !important;
}

.cardInfoItems {
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 10px !important;
}
.bullet {
  background-color: #d9d9d9;
  height: 8px;
  width: 8px;
  margin-top: 6px;
  border-radius: 50px;
}
.cardInfoItems span {
  display: flex !important;
  gap: 10px !important;
  align-items: center !important;
}

.cardInfoItemNameMain {
  display: flex !important;
  justify-content: space-between !important;
  gap: 90px;
  /* flex-direction: column !important; */
}

.cardtitle {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #333;
}

.cardgreensection {
  width: 15%;
  display: flex;
  border-radius: 0px 38px 38px 0px !important;
  justify-content: center !important;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end !important;
  border-left: 1px solid #e7e7e7;
  font-weight: 700;
  padding: 5px 15px;
  border-radius: 0px 8px 8px 0;
  /* background-color: #028e00 !important; */
}

.cardinfo {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #555;
  gap: 10px;
  /* padding: 0 10px; */
  margin: 8px 0;
}

.headText {
  display: flex;
  /* padding: 0 10px; */
  gap: 10px !important;
  align-items: center;
}

.headInfoItems {
  display: flex;
  gap: 10px !important;
}

.flightDiv {
  display: flex;
  gap: 10px !important;
  justify-content: space-between;
}

.headInfoItems p {
  text-align: center;
  display: flex !important;
  gap: 10px !important;
  align-items: center !important;
  font-size: 14px !important;
}

.flightDiv p {
  text-align: center;
  display: flex !important;
  align-items: center !important;
  font-size: 14px !important;
  gap: 10px !important;
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.cardinfo span {
  display: block;
}

.ratingHotelInner {
  font-size: 15px;
  width: max-content;
  color: #f8bb32;
}

.cardprice {
  font-weight: bold;
  font-size: 1.4vw;
}

.cardpriceText {
  width: 100%;
  justify-content: end;
  align-items: end;
  display: flex;
  gap: 5px;
}

.cardpriceText p {
  font-size: 16px;
  font-weight: 700;
}
.cardpriceTextp {
  font-size: 14px;
  font-weight: 400;
  margin-right: 37px;
}
/*  */

.card_mobile {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  position: fixed !important;
  margin: auto !important;
  width: 90% !important;
  left: 5%;
  right: 5%;
  z-index: 110 !important;
  bottom: 20px !important;
  padding: 16px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3),
    -5px -5px 15px rgba(255, 255, 255, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card_mobile:hover {
  transform: translateY(-5px);
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.4),
    -5px -5px 20px rgba(255, 255, 255, 0.6);
}

.cardgreensection_mobile {
  display: flex;
  justify-content: space-between;
}

.cardpriceText_mobile {
  font-size: 12px;
  font-weight: 700;
}

.cardprice_mobile {
  font-size: 20px;
  font-weight: 700;
}

.btnClass Button {
  background-color: #028e00 !important;
  padding: 20px 20px !important;
  color: white !important;
  font-size: 16px !important;
}
@media screen and (max-width) {
  .btnClass Button {
    padding: 20px 40px !important;
  }
}
