.hotelOverviewCard {
  width: 30%;
  border-radius: 2px;
  border: 1px solid #cccccc;
}
.hotelLocation{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.headingContainer {
  display: flex;
  justify-content: space-between;
}
.hotelOverviewCardHeading {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  color: #6e6e6e;
}
.hotelOverviewCardSubHeading {
  font-size: 8px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #6a6a6a;
}

.hotelOverviewCardPrice {
  font-size: 41px;
  font-weight: 700;
  color: #4a4a4a;
}
.propertyOverview {
  font-size: 16px;
  font-weight: 700;
  color: #262626;
}

.propertyOverviewDesc {
  display: flex;
  gap: 5px;
  padding-top: 10px;
}
.hotelLocationIcons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 42px;
  border-radius: 12px;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.12);
  padding: 12px;
  align-items: center;
}
.amenitiesList {
  display: flex;
  gap: 12px;
  justify-content: center;
}
.amenitiesListContent{
  font-size: 12px;
  align-items: center;
  text-align: center;
}
.propertyOverviewContent {
  font-size: 11px;
  font-weight: 400;
  color: #262626;
}

.divider {
  margin: 10px 0px;
  color: 1px solid #ffe5e5;
}

.p15 {
  padding: 15px;
}

.pb10 {
  padding-bottom: 10px;
}

.calender {
  font-size: 12px;
  font-weight: 400;
  color: #4a4a4a;
}

.plane {
  font-size: 12px;
  font-weight: 400;
  color: #4a4a4a;
}

.logies {
  font-size: 12px;
  font-weight: 400;
  color: #4a4a4a;
}

@media screen and (max-width: 728px) {
  .hotelOverviewCard {
    width: 100%;
  }
}

@media only screen and (min-width: 729px) and (max-width: 850px) {
  .hotelOverviewCard {
    width: 100%;
  }
  .propertyOverviewDesc {
    display: flex;
    gap: 12px;
    padding-top: 10px;
  }
}

@media screen and (min-width: 851px) and (max-width: 1100px) {
  .hotelOverviewCard {
    width: 100%;
    margin-top: 10px;
  }
}

@media screen and (min-width: 1101px) {
  .hotelOverviewCard {
    width: 100%;
  }
}
