.container {
  margin: 40px 0px 0px 0px;
}

.headingContainer {
  width: 600px;
}

.inclusive {
  font-size: 29.53px;
  font-weight: 500;
  text-align: left;
  color: var(--primary);
}

.heading {
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  color: #2d3e52;
  line-height: 30px;
  margin: 20px 0px;
}

.subHeading {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #6e6e6e;
}

.categoriesContainer {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin-top: 60px;
}

.categoriesItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  gap: 20px;
}

.categoriesImageContainer {
  height: 100px;
  /* width: 230px; */
  display: flex;
  position: relative;
}
.textAlign{
  text-align: center !important;
}
.categoriesLabel {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  color: var(--black-color);
}

.categoriesSubLabel {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  margin: 10px 0px;
}
