.containerTop {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.cardContainer {
  border-radius: 0px;
}

.contentWrapper {
  display: flex;
  gap: 5px;
}

.cardContainer :global(.ant-card-body) {
  border: initial;
  border-radius: unset;
  border: 1px solid var(--black);
  padding: 15px;
  cursor: pointer;
}

.selectedTag {
  width: 81;
  height: 22;
  top: 11px;
  left: 277px;
  border-radius: 4px;
  padding-top: 2px;
  color: white;
  font-size: 12px;
  font-weight: 700;
  padding-right: 10px;
  padding-bottom: 2px;
  padding-left: 10px;
  gap: 10px;
  border-radius: 5px;
  background-color: #028E00;

}

.icon {
  align-self: center;
  /* margin-bottom: 2px; */
}

.tag {
  font-size: 14px;
  font-weight: 700;
  background-color: #ffe2d4;
  color: #994317;
}

.cardContainer :global(.ant-card-body):focus {
  border: none;
  border-radius: unset;
  border: 1px solid var(--primary) !important;
  padding: 15px;
  cursor: pointer;
}

.insuranceAlert {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: 15.5px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.47999998927116394px;
  text-align: left;
  margin-bottom: 15px;
  /* padding: 10px 0px; */
}

.roomType {
  display: flex;
  font-size: 15.38px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 30px;
}

.price {
  display: flex;
  gap: 5px;
  background-color: #ffe2d4;
  color: #994317;
  padding: 4px 20px;
  border-radius: 5px;
  font-size: 11.63px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
}

.cardContainer :global(.ant-card-bordered) {
  border: 1px solid blue !important;
}

.selected {
  border: 1px solid var(--primary);
}

@media screen and (max-width: 600px) {
  .roomType {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    color: #3a3a3a;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 0 10px;
  }

  .cardContainer :global(.ant-card-body) {
    padding: 10px 0px !important;
  }

  .price {
    display: flex;
    gap: 3px;
    justify-content: space-between;
    background-color: #ffe2d4;
    color: #994317;
    padding: 4px 20px;
    border-radius: 5px;
    font-size: 11.63px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
  }

  .description {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.47999998927116394px;
    text-align: left;
    margin-top: 7px;
    margin-bottom: 15px;
    /* padding: 10px 0px; */
  }
}