.titleContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.title {
  font-size: 30px;
  font-weight: 700;
}

.Pakket {
  padding: 10px;
  height: 30px;
  background: #f15a24;
  border-radius: 35px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  align-content: center;
  color: #ffffff;
  cursor: pointer;
}

.Alleen {
  padding: 10px;
  height: 30px;
  background: white;
  border-radius: 35px;
  border: 1px solid #c8cbd0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  align-content: center;
  color: #17191b;
  cursor: pointer;
}

.selected {
  background: #f15a24 !important;
  color: #ffffff !important;
}

.unSelected {
  background: white !important;
  color: #01b6ca !important;
  border: 1px solid #01b6ca;
}

.filterContainer {
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  /* flex-direction: column; */
}

.filter {
  display: flex;
  border-radius: 50px;
  /* width: 100%; */
  width: 220px;
  gap: 10px;
  flex-direction: column;
}

.filterHeading {
  font-size: 16px;
  font-weight: 600;
  color: #4a4a4a;
}

.mobileFilters {
  display: none;
}

.glance {
  margin: 20px 0px;
}

.details {
  font-size: 36.24px;
  font-weight: 700;
  text-align: center;
  padding: 30px 0px;
}
@media screen and (max-width: 600px) {
  .details {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding: 30px 0px;
}
}
.loader {
  color: var(--primary);
}

.screenLoaderContainer {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.295);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 425px) {
  .titleContainer {
    display: flex;
    flex-direction: column;
  }
  .title {
    text-align: center;
    background: #f15a241a;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 700;
    color: #1e1e1e;
    padding: 5px;
  }

  .Pakket {
    padding: 5px;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
  }

  .Alleen {
    padding: 5px;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
  }

  .mobileFilters {
    display: block;
    margin-top: 10px;
  }

  .desktopFilters {
    display: none;
  }
}
