.container {
  margin: 40px 0px 0px 0px;
}

.headingContainer {
  width: 600px;
}

.inclusive {
  font-size: 29.53px;
  font-weight: 500;
  text-align: left;
  color: var(--primary);
}

.menuContainer {
  margin-top: 20px;
}

.filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 0px !important;
}

.panelHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-color);
  font-size: 13px;
}
