.filterContainer {
  border-radius: 30px;
  box-shadow: 2.8px 2.8px 26px 0px rgba(0, 0, 0, 0.2);
  padding: 25px;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  margin-top: 20px;
}

.filterButton {
  background-color: rgba(0, 170, 37, 1) !important;
  border-radius: 25px;
  box-shadow: 0px 2px 2px 0px rgba(153, 153, 153, 0.3);
  width: 100%;
  opacity: 0.7;
}

.filter {
  width: 100%;
  gap: 10px;
  display: flex;
  font-size: 7.84px;
  font-weight: 400;
  color: #8c8a9e;
}

.filterSearch {
  width: 100%;
  gap: 10px;
  display: flex;
  position: relative;
}

.searchResults {
  position: absolute;
  z-index: 1000;
  background: white;
  padding: 10px;
  top: 40px;
  box-shadow: 0 0 8px rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  height: 250px;
  scroll-behavior: smooth;
  overflow-x: scroll;
}

.nameCategory {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  cursor: pointer;
}

.nameCategory:hover {
  background: #f0f0f0;
}

.nameBold {
  font-size: 16px;
  font-weight: bolder;
}

@media (width <= 600px) {
  .searchResults {
    width: 100%;
  }
}
