.customInput input::placeholder {
    font-size: 14px !important;
    font-weight: 100 !important;
    color: gray !important;
  }
  .customInput{
    width: 100% !important;
    /* border-radius: 7px !important; */
    margin-bottom: 10px;
  }
  .customInput input {
    padding: 2px 0 !important;
  
  }



@media (max-width: 768px) {
  .noCalendar {
    display: none !important;
  }
}
